// Override AntD variables

// $primary-color: green;
// $warning-color: orange;
// $normal-color: #fff;

$border-radius-base: 8px;

// $menu-item-color: red;
$layout-header-background: transparent;
$layout-footer-background: $layout-header-background;
