.ant {
  &-menu {
    &-inline {
      border-right: 0;
    }

    &-submenu {
      &-title {
        &:hover {
          color: $primary;

          .ant-menu-submenu-arrow {

            &:before,
            &:after {
              background: linear-gradient(to right, $primary, $primary)$vip;
            }
          }
        }
      }
    }
  }
}