// Border Radius
@mixin border-radius-t($radius) {
  border-top-left-radius: $radius;
  border-top-right-radius: $radius;
}

@mixin border-radius-b($radius) {
  border-bottom-right-radius: $radius;
  border-bottom-left-radius: $radius;
}

@mixin border-radius($radius) {
  border-radius: $radius;
}

$radius: 0;
$radius-end: 90;

.radius {
  @for $i from $radius through $radius-end {
    &-#{$i} {
      @include border-radius($i * 1px);
    }
  }
}

$fsize: 8;
$end: 72;

@for $i from $fsize through $end {
  .f-s-#{$i} {
    font-size: $i * 1px;
  }
}

$space: 0;
$space-end: 200;

.card {
  @for $i from $space through $space-end {
    &-space-#{$i} {
      >.ant-card-head {
        padding-left: $i * 1px;
        padding-right: $i * 1px;
      }

      >.ant-card-body {
        padding: $i * 1px;
      }
    }

    &-space-h-#{$i} {
      >.ant-card-head {
        padding-left: $i * 1px;
        padding-right: $i * 1px;
      }
    }

    &-cover {
      &-#{$i} {
        >.ant-card-cover {
          padding: $i * 1px;
        }
      }
    }
  }
}

@for $i from $space through $space-end {

  // PADDING
  .p-#{$i} {
    padding: $i * 1px;
  }

  .p-l-#{$i} {
    padding-left: $i * 1px;
  }

  .p-r-#{$i} {
    padding-right: $i * 1px;
  }

  .p-t-#{$i} {
    padding-top: $i * 1px;
  }

  .p-b-#{$i} {
    padding-bottom: $i * 1px;
  }

  .p-tb-#{$i} {
    padding-top: $i * 1px;
    padding-bottom: $i * 1px;
  }

  .p-lr-#{$i} {
    padding-left: $i * 1px;
    padding-right: $i * 1px;
  }

  // MARGIN Positive
  .m-#{$i} {
    margin: $i * 1px;
  }

  .m-l-#{$i} {
    margin-left: $i * 1px;
  }

  .m-r-#{$i} {
    margin-right: $i * 1px;
  }

  .m-t-#{$i} {
    margin-top: $i * 1px;
  }

  .m-b-#{$i} {
    margin-bottom: $i * 1px;
  }

  .m-tb-#{$i} {
    margin-top: $i * 1px;
    margin-bottom: $i * 1px;
  }

  .m-lr-#{$i} {
    margin-left: $i * 1px;
    margin-right: $i * 1px;
  }

  .m-l-#{$i} {
    margin-left: $i * 1px;
  }

  .m-r-#{$i} {
    margin-right: $i * 1px;
  }

  .m-t-#{$i} {
    margin-top: $i * 1px;
  }

  .m-b-#{$i} {
    margin-bottom: $i * 1px;
  }

  .m-tb-#{$i} {
    margin-top: $i * 1px;
    margin-bottom: $i * 1px;
  }

  .m-lr-#{$i} {
    margin-left: $i * 1px;
    margin-right: $i * 1px;
  }

  // Margin negative
  .m-n-#{$i} {
    margin: -$i * 1px;
  }

  .m-n-l-#{$i} {
    margin-left: -$i * 1px;
  }

  .m-n-r-#{$i} {
    margin-right: -$i * 1px;
  }

  .m-n-t-#{$i} {
    margin-top: -$i * 1px;
  }

  .m-n-b-#{$i} {
    margin-bottom: -$i * 1px;
  }

  .m-n-tb-#{$i} {
    margin-top: -$i * 1px;
    margin-bottom: -$i * 1px;
  }

  .m-n-lr-#{$i} {
    margin-left: -$i * 1px;
    margin-right: -$i * 1px;
  }

  // LINE HEIGHT
  .l-h-#{$i} {
    line-height: $i * 1px;
  }
}

$colours: ("primary": $primary,
  "secondary": $neutral,
  "danger": $danger,
  "warning": $warning,
  "success": $success,
  "info": $info,
  "light": lighten($neutral, 60%),
  "dark": $black);

@each $map in $colours {
  $name: nth($map, 1);
  $list: map-get($colours, $name);

  @for $i from 1 through length($list) {
    .color-#{$name} {
      color: nth($list, $i);
    }

    .bg-color-#{$name} {
      background-color: nth($list, $i);
    }
  }
}